@import "bootstrap";


body {
background: #FFCC66;
font-size: 10pt;
}

div#board {
	background: #FFCC00; 
	border: #999 1px solid;
	width: 420px;
	height: 420px;
	padding: 24px;
	margin: 0px auto;
}

.ftile {
	background: #FFF;
	border: #009900 10px solid;
	width: 70px;
	height: 70px;
	float: left;
	margin: 10px;
	padding: 15px;
	font-size: 30px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
}

.uftile {
	background: #99FF33;
	border: #009900 10px solid;
	width: 70px;
	height: 70px;
	float: left;
	margin: 10px;
	padding: 15px;
	font-size: 30px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
}

.button {
	background: #FF9900;
	color: black;
	font-size: 25px;
	padding: 5px 5px;
	cursor: pointer;
}

.tf {
	font-size: 30px;
}
